<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/logo.png" width="170" height="60" alt="">
                  <span class="comName">DiGiT Global</span>
                  </a>
                  <p>Aviskar Tower, Santaji Nagar (Gajanan Colony),
                      Near Chauragade school Gondia- 441641 (MS),
                  </p>
                  <p>Contact :- 9529895225, 9529876365</p>
            </div>
            <div class="col-md-4">
                <h3>Support</h3>
                <ul>
                <li>Project</li>
                <li>Client</li>
                <li>Placement</li>
                <li>Training</li>
                <li>Liabrary</li>
            </ul>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <h4>WeGlobal Enterprises</h4>
                    <p>Connect to our social site</p>
                    <div class="row offset-2">
                        <div class="col-md-2 col-sm-2 tc">
                            <i class="fab fa-facebook fb fa-2x"></i>
                        </div>
                        <div class="col-md-2 col-sm-2 tc">
                            <i class="fab fa-twitter-square tw fa-2x"></i>
                        </div>
                        <div class="col-md-2 col-sm-2 tc">
                            <i class="fab fa-whatsapp-square wa fa-2x"></i>
                        </div>
                        <div class="col-md-2 col-sm-2 tc">
                            <i class="fab fa-instagram-square in fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
