<section id="counter">
    <section class="counter-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
                <span id="count3"></span>100+
            </h2>
            <p>Projects</p>
           

          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
                <span id="count3"></span>250+
            </h2>
            <p>Placement</p>
           

          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
           <h2>
              <span id="count3"></span>1200+
            </h2>
            <p>Training</p> 
            

          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
                <span id="count3"></span>200+
            </h2>
            <p>Clients</p>

          </div>
        </div>
      </div>
    </section>
</section>

