<div class="card">
  <ul class="list-group list-group-flush">
    <a class="list-group-item" [routerLink]="['/projects/it-projects']"><i class="fas fa-file-code"></i>IT Projects</a>
    <a class="list-group-item" [routerLink]="['/projects/robotics']"><i class="fas fa-robot"></i>Robotics Projects</a>
    <a class="list-group-item" [routerLink]="['/projects/embedded']" ><i class="fas fa-atom"></i>Embedded Projects</a>
    <a class="list-group-item" [routerLink]="['/projects/pcb']"><i class="fab fa-connectdevelop"></i>PCB Design</a>
    <a class="list-group-item" [routerLink]="['/projects/robotics']"><i class="fas fa-industry"></i>Industrial Automation</a>
  </ul>
</div>

