<section class="clients section" id="clients">
 <div class="container mb-3">
    <div class="row">
        <div class="section-title padd-15">
         <h2>Clients</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Clients list
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        
                            <div class="card-footer">
                                Chhatrapati Shivaji Information & Technology Polytechnic, Deori-441901
                            </div>
                            <div class="card-footer">
                                Defence Research and Development Organisation, MTRDC, Bangalore-560013.
                            </div>
                            <div class="card-footer">
                                Nehru Science Centre, Mumbai-400001.
                            </div>
                            <div class="card-footer">
                                Kendriya Vidyalaya, Katani-483501.
                            </div>
                            <div class="card-footer">
                                Kendriya Vidyalaya, Bhavanipatna,Odisha-483501.
                            </div>
                            <div class="card-footer">
                                Swami Vivekanand Shikshan Sanstha, Gondia-441601.
                            </div>
                            <div class="card-footer">
                                Jai Maa Santoshi School, Jambhora, Bhandara-441905.
                            </div>
                            <div class="card-footer">
                                Government Polytechnic College, Gondia-441601.
                            </div>
                        
                    </div>
                    <div class="col-lg-6">
                        
                            <div class="card-footer">
                                Government Polytechnic College, Sakoli-441601.
                            </div>
                            <div class="card-footer">
                                Gurunanak Institute of Technology, Nagpur-441501.
                            </div>
                            <div class="card-footer">
                                GV Vidyalaya Tirkhedi, Gondia-441916.
                            </div>
                            <div class="card-footer">
                                Swami Vivekanand School Amgaon, Gondia-441902.
                            </div>
                            <div class="card-footer">
                                Government Excellence School, Balaghat-481001.
                            </div>
                            <div class="card-footer">
                                Government Excellence School, Barghat-480667.
                            </div>
                            <div class="card-footer">
                                Chhatrapati Shivaji School, Deori-441901.
                            </div>
                        
                    </div>
                    </div>
                
            </div>



        </div>
        
    </div>


 </div>

</section>
