ul{
    list-style: none;
    
}
li{
    margin: 10px;
    text-align: center;
    border-left: 3px solid var(--primary-color);
    padding-bottom: 5px;
    border-top:  1px solid black;
    border-bottom:  1px solid black;
    border-right:  1px solid black;
}
li:hover
{
    background-color: var(--bg-black-50);
    font-size: 18px;
    border-left: 5px solid var(--primary-color);
    
    border-right:  5px solid var(--primary-color);
}

.card-header
{
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 10px 10px 0 0;
    letter-spacing: 1.5px;
    font-size: larger;
    
    font-family: 'Times New Roman', Times, serif;

}
.card-footer
{
    background-color: none;
    text-align: center;
    border: 1px solid white;
    
}
.card-footer:hover
{
    background-color: var(--primary-color);
    color: var(--white-color);
}