<section class="service section " id="services">
    <div class="container">
      <div class="row">
        <div class="section-title padd-15 mb-2">
         <h2>Placement Track</h2>

        </div>
      </div>
      <div class="row">

        <!-- ###### Service item start ******** -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <h4>Track 1</h4>
            <p>Ready to Deploy – experienced candidates who are looking for good career opportunities in MNC'S And Global World.</p>
          </div>
        </div>
         <!-- ###### Service item end ******** -->
          <!-- ###### Service item start ******** -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon">
              <i class="fa fa-user-tag"></i>
            </div>
            <h4>Track 2</h4>
            <p>To be ready –engineers and management graduates with 6 month -12 month experience who required to polish their niche skill and make entery in track #1
                </p>
          </div>
        </div>
         <!-- ###### Service item end ******** -->
          <!-- ###### Service item start ******** -->
        <div class="service-item padd-15">
          <div class="service-item-inner">
            <div class="icon">
              <i class="fa fa-user-shield"></i>
            </div>
            <h4>Track 3</h4>
            <p>Freshers, B.Sc , B.Com , BCA graduate's who are looking to start their Career. We have STP (Select Training & Placement) program.</p>
          </div>
        </div>
         <!-- ###### Service item end ******** -->
        
         <!-- ###### Service item end ******** -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>WeGlobal Incubation Center and Digital Library</h2>
        </div>
          <div class="col-lg-6 col-md-12 text-sec mb-lg-0 mb-5">
            <h5>Make a home for your business for private office</h5>
            <p>WeGlobal provides Incubation centre and Digital Library facilities for scholars, organisations and candidates preparing for competative exams. DiGiT Global Business Incubation centre is dedicated to promote Enterpreneurship. Digital studio is also proposed for online education channel as well as available for recording.</p>
            </div>
            <div class="col-lg-6 col-md-12 text-sec mb-lg-0 mb-5 mt-5">
            <h4>DiGit Global</h4>
            <h5>INCUBATION CENTER</h5>
            <h6>digitglobaljobs@gmail.com</h6>
            <button class="main-btn">Register <i class="fas fa-thumbtack"></i></button>
            </div>
 
         
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-sec mb-lg-0 ">
        <h3>MODERN OFFICE SPACE IN GONDIA</h3>
        </div>
        </div>
        </div>



        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-lg-0">
              <div class="row">
                <div class="col-lg-8 col-md-12 mb-lg-0 mb-1">
                  <div class="card">
                    
                      <div class="card-header">
                        <h1 class="text-sec">Special Features</h1>
                      </div>
                     
                        <div class="card-footer"><i class="fas fa-bullseye"></i> Fully Furnished and Serviced</div>
                        <div class="card-footer"><i class="fas fa-bullseye"></i> Business grade wifi & secure IT infrastructure</div>
                        <div class="card-footer"><i class="fas fa-bullseye"></i> Collaboration & Meeting Rooms</div>
                        <div class="card-footer"><i class="fas fa-bullseye"></i> Individual can work with efficiency</div>
                      
                  </div>

                  
                </div>
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-2">
                  <img src="../../assets/building_01.jpg" width="100%" height="400%"  class="img-fluid" alt="">
                </div>
                <div class="col-lg-12 col-md-12 mb-lg-0 mb-2 border-0">
                  <img src="../../assets/img_05.jpg"  class="img-fluid liabrary-img" alt="">
                </div>

              </div>
              </div>
           

              <div class="col-lg-6 col-md-12 mb-lg-0 mb-2">
                <div class="card">
                  <div class="card-header">
                    <h1 class="text-sec">Special Offers</h1>
                  </div>
                  <ul class="list-group-numbered py-3">
                    <li>Placement service and job offers</li>
                    <li>Training for preparation of job Interviees</li>
                    <li>Preference to Incubation centre members in IT Developments projects od Digit Global</li>
                    <li>Employment Opportunities in all fields</li>
                    <li>Carrier Counseling and Awarness</li>
                    <li>Job interviews arrangements and helps in preparation</li>
                    <li>Part time earing opportunities</li>
                    <li>Arranging Leactures, Seminards, Conferences and Events for conncecting people</li>
                    <li>Intership opportunities</li>
                    <li>College Projects and Report assignments/ Preparations.</li>
                    <li>Provide working Experience and award certificates on experience after completion of training and assignments</li>
    
                  </ul>
                </div>









              
             
              </div>
              
          </div>
        </div>

  </section>
