<section class="clients section" id="clients">
    <div class="container">
       <div class="row">
           <div class="section-title padd-15">
            <h2>Services</h2>
            <p>WeGlobal Provide you a better services for EduTech and AgroTech</p>
   
           </div>
       </div>
       <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                <div class="card border-0">
                <img src="../../assets/edutech.jpg" alt=""width="90%" class="img-fluid">
             </div>
            </div>
            <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5">
             <h2>WeGlobal EDUTECH</h2>
           <p>WeGlobal is providing digital platform to bring quality education and connecting mentor and mentee by ﬂexible home education model.</p>
           <button class="main-btn mt-4">Learn more..</button>
            
         </div>
          
        </div>
       </div>
       <div class="container">
           <div class="row">
            <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5">
                <h2>WeGlobal AGROTECH</h2>
              <p>WeGlobal is bringing automation and technology in agriculture area to increase quality and production by innovative and new techniques. WeGlobal aim to enhance the quality of former's life by educating and giving them opportunity to increase sources of income.</p>
              <button class="main-btn mt-4">Learn more..</button>
               
            </div>
            <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                <div class="card border-0">
                    <img src="../../assets/img_11.jpg" alt="" width="90%" class="img-fluid">
                    </div>
                    </div>

           </div>



       
       </div>


       
       
    </div>
</section>
