<div class="container">
    <div class="row">
        <h2>WeGlobal Robotics</h2>
    </div>
    <p> WeGlobal ROBTICS is 
        dedicated to bring new talents 
        and mentor them in robotics and embedded system.This is enabling to deploy 
    these talents in industries automation, education and technical projects</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 mb-5">
            <img src="../../../assets/rob_03.jpg" class="img-fluid"  alt="">
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 mb-5">
           <h5>WeGlobal is aiming to provide below career paths and covering the areas to have educational and technical Projects.</h5>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 mb-2 cont">
                        <h4>School Educational Projects</h4>
                    </div>
                    <div class="col-lg-6 mb-2 cont">
                        <h4>Technical Lab setup</h4>
                        <ul>
                            <li>Robotics Lab</li>
                            <li>ATL(Atal Tinkering Lab)</li>
                        </ul>
                    </div>
                    <div class="col-lg-5  mb-2 cont">
                        <h4>Workshop and Training</h4>
                        <ul>
                            <li>Robotics</li>
                            <li>Embedded System</li>
                            <li>PCB Desingning</li>
                            <li>MSBTE Training</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 mb-2 cont">
                        <h4>Product Development</h4>
                        <ul>
                            <li>Sensor Modules</li>
                            <li>Controller Development Board</li>
                            <li>Driver Modules</li>
                            <li>Customize Products</li>
                            <li>Educational Products</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 mb-2 cont">
                        <h4>Government Technical Projects</h4>
                    </div>
                    <div class="col-lg-6 mb-2 cont">
                        <h4>Embedded System Development</h4>
                    </div>
                    <div class="col-lg-5 mb-2 cont">
                        <h4>Industrial Automation</h4>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
