<section id="home">
    <div class="container-fluid px-0 top-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
          <p>WeGlobal is an startup with vision of creating employment worldwide for tier B and C cities and search talents from villages and urban areas.
            To Mentor them with new technologies to compete this rapidly changing market.
            WeGlobal is an organization consists with world class leadership and dynamic talents who are having 100+ years of experience jointly in technologies and management. 
          </p>
        </div>
        <div class="mt-4">
          <button class="main-btn">Training <i class="fas fa-construction"></i></button>
          <button class="main-btn ms-lg-4 mt-lg-0">Placement <i class="fas fa-user-graduate"></i></button>
        </div>
        <!-- <div class="mt-4">
          <button class="main-btn">Projects <i class="fas fa-people-carry"></i></button>
          <button class="main-btn ms-lg-4 mt-lg-0 clientbtn">Clients <i class="far fa-building"></i></button>
        </div> -->
      </div>
      </div>
  
    </div>
  </section>
