<div class="container">
    <div class="row">
        <h2>WeGlobal IT PROJECT</h2>
        <p>WeGlobal is aiming to cater the digital projects and IT 
            Development projects. For these WeGlobal monitoring 
            management graduates & engineers in following technologies to 
            develop them on digital transformation program</p>
            <h3>Project is base on below technologies</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 mb-2">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 m-2">
                    <div class="card border-success w-100">
                        <div class="container-fluid bg-img">

                            <img class="card-img-top card-image" src="../../../assets/java.png"  alt="Card image cap">
                        </div>
                        <div class="card-footer">SPRING MVC</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 m-2">
                    <div class="card border-success w-100">
                        <div class="container-fluid">
                        <img class="card-image img-fluid" src="../../../assets/net.jpg"  alt="Card image cap">
                        </div>
                        <div class="card-footer">C# .net</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 m-2">
                    <div class="card border-success w-100" >
                        <div class="container-fluid">
                        <img class="card-image" src="../../../assets/mobile-app.png"  alt="Card image cap">
                        </div>
                        <div class="card-footer">Mobile App </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 m-2">
                    <div class="card border-success w-100">
                        <div class="container-fluid">
                        <img class="card-image" src="../../../assets/data-ana.png" alt="Card image cap">
                    </div>
                        <div class="card-footer">Analytics</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 m-2">
                    <div class="card border-success w-100">
                        <div class="container-fluid">
                        <img class="card-image" src="../../../assets/embedded project.png"  alt="Card image cap">
                    </div>
                        <div class="card-footer">Embedded</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 m-2">
                    <div class="card border-success w-100">
                        <div class="container-fluid">
                        <img class="card-image" src="../../../assets/industrial.png" height="70%" alt="Card image cap">
                        </div>
                        <div class="card-footer">Industrial</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 mb-1">
            <div class="row">
                <div class="col-lg-12 m-2">
                    <h4>Web-Design</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>Web-Hosting</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>Product Design</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>Software Development</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>Software Architecture</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>Microservices</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>IT-Training</h4>
                </div>
                <div class="col-lg-12 m-2">
                    <h4>Web-Seminar</h4>
                </div>
            </div>
        </div>



       
        
    </div>
    
</div>

